<h1>Add Your Schedule</h1>
<form action="/">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName">
    
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName">

    <label for="emailAddress">Email address:</label>
    <input type="email" name="emailAdress" id="emailAdress">

    <label for="teamName">Team Name:</label>
    <input type="text" name="teamName" id="teamName">

    <button id="submit">Continue</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var first = $("#firstName").val().trim();
    var last = $("#lastName").val().trim();
    var email = $("#emailAddress").val().trim();
    var team = $("#teamName").val().trim();

    


</script>