<div>
    <button id="skip">skip</button>
</div>
<h1>Add Your Schedule</h1>
<form>
    <button id="addGame">Add Game</button>
    <button id="addPractice">Add Practice</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#skip").on("click", function () {
        window.location = "/dashboard";
    });



</script>