<h1>This is the coach sign up page</h1>
<form id="coachForm">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName">

    <label for="emailAddress">Email address:</label>
    <input type="email" name="emailAdress" id="emailAddress">

    <label for="teamName">Team Name:</label>
    <input type="text" name="teamName" id="teamName">

    <button id="submit">Continue</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#submit").on("click", 

        // A function to handle what happens when the form is submitted to create a new Coach
        function handleCoachFormSubmit(event) {
            event.preventDefault();
            // Don't do anything if the name fields hasn't been filled out

            // Constructing a newPost object to hand to the database
            var newCoach = {
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                email: $("#emailAddress").val(),
                teamName: $("#teamName").val()
            };

            $.post("/api/coaches", newCoach).then(function (data) {
                console.log(data);

            });
            window.location = "/addSchedule";
        });
</script>