<h1>This is the coach sign up page</h1>
<form id="coachForm">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName">

    <label for="emailAddress">Email address:</label>
    <input type="email" name="emailAdress" id="emailAdress">

    <label for="teamName">Team Name:</label>
    <input type="text" name="teamName" id="teamName">

    <button id="submit">Continue</button>
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).on("click", function () {
        $(document).on("submit", "#coachForm", handleCoachFormSubmit, function () {
            window.location = "/addSchedule";
        });

        // A function to handle what happens when the form is submitted to create a new Coach
        function handleCoachFormSubmit(event) {
            event.preventDefault();
            // Don't do anything if the name fields hasn't been filled out

            // Constructing a newPost object to hand to the database
            var newCoach = {
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                email: $("#email").val(),
                teamName: $("#teamName").val()
            };


            // Calling the upsertCoach function and passing in the value of the name input
            upsertCoach({
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                email: $("#emailAddress").val(),
                teamName: $("#teamName").val(),
            });
            submitPost(newCoach);
        }

        // Submits a new post and brings user to blog page upon completion
        function submitPost(coach) {
            $.coach("/api/coaches", coach, function () {
                window.location.href = "/blog";
            });
        }
        // A function for creating an coach. Calls getcoachs upon completion
        function upsertCoach(coachData) {
            $.post("/api/coaches", coachData);
        }


        // Function for creating a new list row for authors
        function createCoachRow(coachData) {
            console.log(coachData);
            var newTr = $("<tr>");
            newTr.data("coach", coachData);
            newTr.append("<td>" + coachData.firstName + " " + coachData.lastName + "</td>");
            newTr.append("<td>" + coachData.teamName + "</td>");
            return newTr;
        }

        // Function for retrieving coach and getting them ready to be rendered to the page
        function getCoaches() {
            $.get("/api/coaches", function (data) {
                var rowsToAdd = [];
                for (var i = 0; i < data.length; i++) {
                    rowsToAdd.push(createCoachRow(data[i]));
                }
                renderCoachList(rowsToAdd);
                nameInput.val("");
            });
        }

        // A function for rendering the list of coachs to the page
        function renderCoachList(rows) {
            coachList.children().not(":last").remove();
            coachContainer.children(".alert").remove();
            if (rows.length) {
                console.log("rows", rows);
                coachList.prepend(rows);
            }
        }
    });
</script>