<div class="loginNav">
    <button id="cancel">Cancel</button>
    <h3>Log in</h3>
    <form action="">
        <label for="emailaddress">Email:</label>
        <input name="password" id="emailAddress" type="text">
        <label for="password">password</label>
        <input name="password" id="password" type="text">
        <button class="submit">Submit</button>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#cancel").on("click", function () {
        window.location = "/";
    });
</script>