<div class="signUpNav">
    <button id="cancel">Cancel</button>
    <h3>Sign Up</h3>
    <h2>Enter your email address:</h2>
    <input id="emailAddress" type="text">
    <button id="submit" class="submit">Submit</button>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#cancel").on("click", function () {
        window.location = "/";
    });

    $("#submit").on("click", function () {
        window.location = "/coach";
    });
</script>